worker_processes  4;

events {
    worker_connections  128;
}

http {
    gzip on;
    gzip_types text/plain /text/css text/javascript application/xml application/javascript model/gltf+json;
    gzip_min_length 500;

    server {
        listen 443 ssl http2;
        server_name localhost;
        ssl_certificate      /etc/certificates/localhost.crt;
        ssl_certificate_key  /etc/certificates/localhost.key;
        root /var/www/html/;

        location / {
                index index.html;
        }

        location /ws {
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            #proxy_set_header Host $host;

            proxy_pass http://websocket;

            proxy_http_version 1.1;
            proxy_set_header Upgrade $http_upgrade;
            proxy_set_header Connection "upgrade";
        }
    }
    
    server {
        listen 80;
        server_name localhost;
        return 301 https://$server_addr$request_uri;
    }

    upstream websocket {
        # enable sticky session based on IP
        ip_hash;
        
        server 127.0.0.1:8010;
    }
}
